.backgroundtitle {
    background-color: yellow;
}

.title {
    color: red;
}

input[placeholder] {
    color: red;
}

span {
    color: aqua;
}

.double-class .third-text {
    color: green;
}

.fourth-text {
    color: blue;
}

#fifthTextId {
    color: rgb(224, 221, 1);
}

p:nth-last-child(1) {
    color: brown;
}
